<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
<!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ "/css/yui/grids-old-ie.css" | prepend: site.baseurl }}">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ "/css/yui/grids.css" | prepend: site.baseurl }}">
<!--<![endif]-->

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/pygments/default.css" | prepend: site.baseurl }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
</head>
